html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

.pokemon-list {
    list-style-type: none;
    text-align: center;
    border: 2px solid black;
}

.button-class {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 75%;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button-class:hover {
    background-color: #ffcc00; /* yellow */
    color: black;
}

